.navbar {
    background-color: white;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}

#welcome-bg {
    background:white;


    background-size: 100%;
    padding: 150px 100px;
    display: flex;
    margin: 0px;
    box-sizing: content-box;
}

#welcome-heading{
    font-family: 'TruenoBold';
    font-weight: 600;
    font-style: normal;
}

#welcome-subheading {
    font-family: 'TruenoLight';
    font-weight: 100;
    font-style: normal;
}

#search-bar{
    background-color: #002633;
}


/* hide the blue outline */
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

